# Tokens
ADMIN_TOKEN=<>
SERVICE_TOKEN=<>
USER_TOKEN_BEARER=<>

# Internal service
INTERNAL_HOST=http://localhost
INTERNAL_PORT=8000

# App
DEBUG_MODE=True

# PostgreSQL DB
POSTGRES_USER=<>
POSTGRES_PASSWORD=<>
POSTGRES_DB=<>
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis / час життя кешу у секундах (300 = 5 хв)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
CACHE_TTL_SECONDS=300